{% extends 'base.html.twig' %}

{% block title %}Showroom - Accueil{% endblock %}

{% block body %}
    <section id="hero_home"></section>
    <section id="description">
        <div class="container my-5">
            <h1 class="text-center mb-5">Bienvenue chez BIACAR</h1>
            <div class="row">
                <p class="offset-2 col-8">
                    Le plus grand spécialiste des marques italiennes et allemandes à Mons.
                </p>
                <p class="offset-2 col-8">
                    Avec un vaste choix de véhicules d'occasion et de collection en stock, nous trouverons ensemble
                    celui qui conviendra parfaitement à vos besoins.
                </p>
                <p class="offset-2 col-8">
                    Nous nous engageons à vous proposer le confort et la sécurité au meilleur rapport qualité/prix.
                </p>
                <a href="{{ path("about") }}" class="btn btn-primary offset-5 col-2 ">Découvrez-nous</a>
            </div>

        </div>
    </section>

{% endblock %}
