{% extends 'base.html.twig' %}

{% block title %}Showroom - Accueil{% endblock %}

{% block body %}
    <section id="hero_home"></section>
    <section id="description">
        <div class="container my-5">
            <h1 class="text-center">Bienvenue sur le site de mon garage</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores dolores, fugiat illo iste
                itaque laborum maiores nam neque provident quae quod ratione repellendus repudiandae, tempore? A
                adipisci amet animi dicta dolor eaque et in obcaecati officia perspiciatis rerum soluta unde, vel.
                Cupiditate dolore enim modi placeat quidem. Aut et facere saepe. Asperiores assumenda atque debitis
                dignissimos, dolorum ducimus ea ex facere illum, ipsa, ipsam mollitia nihil quis quos rerum sed sit
                suscipit unde voluptate voluptatibus! Animi, architecto, at dolor error esse fuga illo ipsa nesciunt
                porro quam quas recusandae repellendus sint. Asperiores, aut corporis dignissimos distinctio dolorem
                eaque eligendi est fugit hic illum nisi, porro quae quas quod quos ratione sunt! Alias, amet architecto
                asperiores assumenda at dignissimos doloremque dolorum ducimus eaque eius eum, excepturi iste magni
                minima mollitia nobis officia possimus quos reiciendis, reprehenderit repudiandae suscipit tempora
                temporibus totam velit veritatis voluptatibus? At atque commodi corporis dolorem eos, est et fugiat
                illum magni minus molestiae nobis non nostrum nulla odit praesentium quis quisquam quod reiciendis
                ullam, vel velit voluptas voluptatem. Aspernatur delectus eos eveniet exercitationem fuga, impedit
                necessitatibus obcaecati odit possimus quae quis repudiandae sit soluta sunt tempora veritatis
                voluptates, voluptatibus. A, animi assumenda eos inventore perspiciatis reprehenderit?</p>
        </div>
    </section>

{% endblock %}
